body {
    margin: 0;
}
/* .header {
    height: 100%;
    width: 100%;
    background-image: url('../images/heading.png');
    text-align: center;
    background-repeat: none;
    
} */

h1 {
    margin: 0%;
}

li {
    align-content: left;
}

.images {
    width: 300px;
    height: 200px;
}